.feature-overview {
    @include outerContainer;

    .container {
        padding: 0;
    }

    h3 {
        @include sectionSubHeadline($colorBodyAlt);
        border-bottom: 1px solid $colorBorders;
        margin: $verticalSpacingLarge 0;
        padding: 0 0 $verticalSpacingLarge 0;
        text-align: center;
    }

    h4 {
        margin: -20px 0 60px 0;
    }

    h5 {
        @media screen and (max-width: 785px) {
            margin-bottom: 5px;
        }
    }
    

    ul {
        @include clear;
        margin-bottom: $verticalSpacingLarge;

        @media screen and (max-width: 785px) {
            margin-bottom: $verticalSpacingMedium;
        }
    }

    li {
        float: left;
        margin-right: 4.545454545%;
        width: 30.3030303%;

        &:last-of-type {
            margin-right: 0;
        }
        
        @media screen and (max-width: 785px) {
            float: none;
            margin-bottom: $verticalSpacingMedium;
            width: 100%;
        }

        p {
            font-family: $fontSans;
            line-height: 1.6em;
        }
    }

    img {
        margin-left: -4px;
        width: 100.80808081%;
    }
}

.pinterest-overview {
    h3 {
        border: none;
        color: $colorBodyDark;
        margin-bottom: 0;
        padding: 0;
    }
    h4 {
        border-bottom: 1px solid $colorBorders;
        padding: 30px 0 50px 0;
        text-align: center;
    }
    p {
        font-size: 18px;
    }
}