.features-highlight {
    @include outerContainer;
    background: #fff;
    border-top: 1px solid $colorBorders;

    &.pinterest-features {
        border-top: 1px solid adjust-color($colorBorders,$alpha:.25);
    }

    &.alternate-color {
        background: $colorContentAlternate;
        box-shadow: inset 0 0 5px rgba(0,0,0,.1);
    }

    h2 {
        margin-bottom: $verticalSpacingLarge;
        
        &.subheadline {
            font-size: 32px;
        }

        &.centered {
            margin: -20px auto $verticalSpacingLarge auto;
            text-align: center;
        }

    }

    .feature {
        @include clear;
        border-top: 1px solid $colorBorders;
        padding: 60px 0;
    
        &.no-border {
            border-top: none;
            padding-top: 0;
        }
    }

    .left-content {
        padding-bottom: 0;

        .feature-image {
            float: right;
        }
        .feature-content {
            float: left;
        }
    }

    .feature-image {
        float: left;
        width: 59.39393939%; /* 588/990 */
    }

    .feature .feature-image {
        @media screen and (max-width: 965px) {
            width: 50%;
        }

        @media screen and (max-width: 800px) {
            display: block;
            float: none;
            margin: 0 auto;
            width: 80.83333333%;
        }

        @media screen and (max-width: 580px) {
            width: 100%;
        }
    }
    
    .feature-content {
        float: right;
        width: 34.34343434%;

        @media screen and (max-width: 965px) {
            width: 42.0023015%; /* 365/869 */
        }

        @media screen and (max-width: 800px) {
            margin-top: $verticalSpacingLarge;
            width: 100%;
        }
    }

    .feature-description {
        @media screen and (max-width: 800px) {
            float: left;
            width: 47%;
        }

        @media screen and (max-width: 580px) {
            float: none;
            width: 100%;
        }
    }

    ul,
    .main-cta {
        @media screen and (max-width: 800px) {
            float: right;
            width: 47%;
        } 

        @media screen and (max-width: 580px) {
            float: none;
            width: 100%;
        }   
    }

    .main-cta {
        @include mainCta;
        @include largeButton;
        display: block;
        margin-bottom: 20px;
        padding: 15px;

        strong {
            color: #fff;
            display: inline;
        }

        em {
            -webkit-font-smoothing: antialiased;
            font-family: $fontSans;
            font-weight: 600;
        }

        img {
            @include iconContainer(0,transparent);
            margin: 7px 15px 7px 0;
        }
    }

    h3 {
        @media screen and (max-width: 580px) {
            margin-bottom: 10px;
        }
    }

    h4 {
        margin: -20px 0 60px 0;
    }

    h5 {
        margin-bottom: $verticalSpacingMedium;
    }

    p {
        margin-bottom: $verticalSpacingLarge;

        @media screen and (max-width: 800px) {
            margin-bottom: 0;
        }

        @media screen and (max-width: 580px) {
            margin-bottom: $verticalSpacingMedium;
        }
    }

    li {
        @include clear;
        display: block;
        line-height: 1.3em;
        margin: 15px 0;

        img {
            @include iconContainer(5px,$colorAccent);
            float: left;
            margin: -5px 10px 0 0;
        }

        a:hover img {
            background-color: $colorBodyDark;
        }
    }
}