/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Text colors */
/* Border colors */
/* Background colors */
/* line 1, ../sass/header.scss */
.logo {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
  background: url(../../img/logo-piqora.png);
  width: 110px;
  height: 44px;
  float: left;
  margin-right: 10px;
}

/* line 7, ../sass/header.scss */
header {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  border-bottom: 1px solid #d8d9d9;
  padding: 30px 0;
}
/* line 12, ../sass/mixins.scss */
header:before, header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
header:after {
  clear: both;
}
/* line 14, ../sass/header.scss */
header a {
  color: #5d858f;
  display: block;
  padding: 15px 10px;
}
/* line 19, ../sass/header.scss */
header a:hover {
  color: #f26961;
}
/* line 25, ../sass/header.scss */
header ul li {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 0 0 0 10px;
  position: relative;
}
/* line 32, ../sass/header.scss */
header ul li .secondary-navigation {
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
  left: 10px;
  position: absolute;
  top: 40px;
  width: 280px;
}
/* line 44, ../sass/header.scss */
header ul li .secondary-navigation li {
  border-bottom: 1px solid #ededed;
  float: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0;
  margin: 0;
  text-transform: none;
}
/* line 55, ../sass/header.scss */
header ul li .secondary-navigation li:last-of-type {
  border-bottom: none;
}
/* line 59, ../sass/header.scss */
header ul li .secondary-navigation a {
  display: block;
  padding: 10px 20px;
}
/* line 63, ../sass/header.scss */
header ul li .secondary-navigation em {
  -webkit-font-smoothing: subpixel-antialiased;
  color: #79898d;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
/* line 73, ../sass/header.scss */
header ul li .secondary-navigation img {
  border-radius: 100%;
  background-color: #f26961;
  padding: 10px;
  float: left;
  margin: 0 10px 0 0;
}
/* line 78, ../sass/header.scss */
header ul li .secondary-navigation a:hover img {
  background-color: #395258;
}
/* line 81, ../sass/header.scss */
header ul li .secondary-navigation:after {
  display: block;
  position: absolute;
  top: -8px;
  left: 20px;
  content: "";
  background: url(../../img/triangle-tip-top.png) no-repeat;
  width: 15px;
  height: 12px;
}
/* line 94, ../sass/header.scss */
header ul li:hover a {
  color: #f26961;
}
/* line 97, ../sass/header.scss */
header ul li:hover li a {
  color: #f26961;
}
/* line 99, ../sass/header.scss */
header ul li:hover li a:hover {
  color: #395258;
}
/* line 103, ../sass/header.scss */
header ul li:hover .secondary-navigation {
  display: block;
}
/* line 109, ../sass/header.scss */
header ul.featured-navigation {
  float: right;
}
/* line 115, ../sass/header.scss */
header .main-cta {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #f26961;
  border: 1px solid #ac170e;
  border-bottom: 1px solid #9e150d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px 15px;
  margin: 0 10px 0 0;
}
/* line 51, ../sass/mixins.scss */
header .main-cta:hover {
  background-color: #5d858f;
  border: 1px solid #3f5a61;
  color: #fff;
}
/* line 120, ../sass/header.scss */
header .jump-navigation {
  display: none;
}
@media screen and (max-width: 685px) {
  /* line 7, ../sass/header.scss */
  header {
    padding-bottom: 25px;
  }
  /* line 128, ../sass/header.scss */
  header .logo {
    float: left;
    margin-bottom: 0;
  }
  /* line 133, ../sass/header.scss */
  header .main-navigation li {
    display: none;
  }
  /* line 136, ../sass/header.scss */
  header .main-navigation li.jump-navigation {
    display: block;
  }
}
@media screen and (max-width: 850px), (max-width: 590px) {
  /* line 7, ../sass/header.scss */
  header {
    padding-bottom: 20px;
  }
  /* line 146, ../sass/header.scss */
  header .logo {
    float: none;
    margin-bottom: 10px;
  }
  /* line 151, ../sass/header.scss */
  header .main-navigation {
    margin-left: -20px;
  }
}
@media screen and (max-width: 430px) {
  /* line 7, ../sass/header.scss */
  header {
    padding: 10px 0;
  }
  /* line 160, ../sass/header.scss */
  header .logo {
    margin: 20px 0 15px 0;
  }
  /* line 164, ../sass/header.scss */
  header .main-navigation {
    float: none;
    margin-right: -10px;
  }
  /* line 169, ../sass/header.scss */
  header .featured-navigation li {
    margin-right: -10px;
  }
  /* line 173, ../sass/header.scss */
  header .main-cta {
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: none;
    border: none;
    box-shadow: none;
    color: #f26961;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    padding: inherit;
    padding: 15px 10px;
  }
}

/* line 7, ../sass/global.scss */
body {
  box-sizing: border-box;
  color: #79898d;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* line 14, ../sass/global.scss */
a {
  text-decoration: none;
  color: #f26961;
}
/* line 18, ../sass/global.scss */
a:hover {
  color: #395258;
}

/* line 23, ../sass/global.scss */
p {
  font-family: Bitter, Georgia, serif;
  font-size: 16px;
  line-height: 1.75em;
}

/* line 27, ../sass/global.scss */
.container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  padding: 50px 0;
}
