/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Text colors */
/* Border colors */
/* Background colors */
/* line 1, ../sass/header.scss */
.logo {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
  background: url(../../img/logo-piqora.png);
  width: 110px;
  height: 44px;
  float: left;
  margin-right: 10px;
}

/* line 7, ../sass/header.scss */
header {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  border-bottom: 1px solid #d8d9d9;
  padding: 30px 0;
}
/* line 12, ../sass/mixins.scss */
header:before, header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
header:after {
  clear: both;
}
/* line 14, ../sass/header.scss */
header a {
  color: #5d858f;
  display: block;
  padding: 15px 10px;
}
/* line 19, ../sass/header.scss */
header a:hover {
  color: #f26961;
}
/* line 25, ../sass/header.scss */
header ul li {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 0 0 0 10px;
  position: relative;
}
/* line 32, ../sass/header.scss */
header ul li .secondary-navigation {
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
  left: 10px;
  position: absolute;
  top: 40px;
  width: 280px;
}
/* line 44, ../sass/header.scss */
header ul li .secondary-navigation li {
  border-bottom: 1px solid #ededed;
  float: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0;
  margin: 0;
  text-transform: none;
}
/* line 55, ../sass/header.scss */
header ul li .secondary-navigation li:last-of-type {
  border-bottom: none;
}
/* line 59, ../sass/header.scss */
header ul li .secondary-navigation a {
  display: block;
  padding: 10px 20px;
}
/* line 63, ../sass/header.scss */
header ul li .secondary-navigation em {
  -webkit-font-smoothing: subpixel-antialiased;
  color: #79898d;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
/* line 73, ../sass/header.scss */
header ul li .secondary-navigation img {
  border-radius: 100%;
  background-color: #f26961;
  padding: 10px;
  float: left;
  margin: 0 10px 0 0;
}
/* line 110, ../sass/mixins.scss */
header ul li .secondary-navigation img:hover {
  background-color: #395258;
}
/* line 78, ../sass/header.scss */
header ul li .secondary-navigation a:hover img {
  background-color: #395258;
}
/* line 81, ../sass/header.scss */
header ul li .secondary-navigation:after {
  display: block;
  position: absolute;
  top: -8px;
  left: 20px;
  content: "";
  background: url(../../img/triangle-tip-top.png) no-repeat;
  width: 15px;
  height: 12px;
}
/* line 94, ../sass/header.scss */
header ul li:hover a {
  color: #f26961;
}
/* line 97, ../sass/header.scss */
header ul li:hover li a {
  color: #f26961;
}
/* line 99, ../sass/header.scss */
header ul li:hover li a:hover {
  color: #395258;
}
/* line 103, ../sass/header.scss */
header ul li:hover .secondary-navigation {
  display: block;
}
/* line 109, ../sass/header.scss */
header ul.featured-navigation {
  float: right;
}
/* line 115, ../sass/header.scss */
header .main-cta {
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #f26961;
  border: 1px solid #ac170e;
  border-bottom: 1px solid #9e150d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  margin: 0 10px 0 0;
}
/* line 50, ../sass/mixins.scss */
header .main-cta:hover {
  background-color: #5d858f;
  border: 1px solid #3f5a61;
  color: #fff;
}
/* line 120, ../sass/header.scss */
header .jump-navigation {
  display: none;
}
@media screen and (max-width: 685px) {
  /* line 7, ../sass/header.scss */
  header {
    padding-bottom: 25px;
  }
  /* line 128, ../sass/header.scss */
  header .logo {
    float: left;
    margin-bottom: 0;
  }
  /* line 133, ../sass/header.scss */
  header .main-navigation li {
    display: none;
  }
  /* line 136, ../sass/header.scss */
  header .main-navigation li.jump-navigation {
    display: block;
  }
}
@media screen and (max-width: 850px), (max-width: 590px) {
  /* line 7, ../sass/header.scss */
  header {
    padding-bottom: 20px;
  }
  /* line 146, ../sass/header.scss */
  header .logo {
    float: none;
    margin-bottom: 10px;
  }
  /* line 151, ../sass/header.scss */
  header .main-navigation {
    margin-left: -20px;
  }
}
@media screen and (max-width: 430px) {
  /* line 7, ../sass/header.scss */
  header {
    padding: 10px 0;
  }
  /* line 160, ../sass/header.scss */
  header .logo {
    margin: 20px 0 15px 0;
  }
  /* line 164, ../sass/header.scss */
  header .main-navigation {
    float: none;
    margin-right: -10px;
  }
  /* line 169, ../sass/header.scss */
  header .featured-navigation li {
    margin-right: -10px;
  }
  /* line 173, ../sass/header.scss */
  header .main-cta {
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: none;
    border: none;
    box-shadow: none;
    color: #f26961;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    padding: inherit;
    padding: 15px 10px;
  }
}

/* line 7, ../sass/global.scss */
body {
  box-sizing: border-box;
  color: #79898d;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* line 14, ../sass/global.scss */
a {
  text-decoration: none;
  color: #f26961;
}
/* line 18, ../sass/global.scss */
a:hover {
  color: #395258;
}

/* line 23, ../sass/global.scss */
p {
  font-family: Bitter, Georgia, serif;
  font-size: 16px;
  line-height: 1.75em;
}

/* line 27, ../sass/global.scss */
input {
  box-sizing: border-box;
}

/* line 31, ../sass/global.scss */
input:not([type=submit]) {
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #97b4bb;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
}

/* line 42, ../sass/global.scss */
input[type=submit] {
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #f26961;
  border: 1px solid #ac170e;
  border-bottom: 1px solid #9e150d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  cursor: pointer;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px;
}
/* line 50, ../sass/mixins.scss */
input[type=submit]:hover {
  background-color: #5d858f;
  border: 1px solid #3f5a61;
  color: #fff;
}

/* line 49, ../sass/global.scss */
.container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  padding: 50px 0;
}

/* line 54, ../sass/global.scss */
.tour-form {
  padding: 0 5%;
  background: url(../../img/bg-tour-form.jpg);
  background-size: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: -2px;
}
/* line 62, ../sass/global.scss */
.tour-form h2 {
  -webkit-font-smoothing: antialiased;
  color: #2b3e42;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* line 67, ../sass/global.scss */
.tour-form form {
  margin-bottom: 30px;
}
/* line 12, ../sass/mixins.scss */
.tour-form form:before, .tour-form form:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.tour-form form:after {
  clear: both;
}
@media screen and (max-width: 835px) {
  /* line 67, ../sass/global.scss */
  .tour-form form {
    margin-bottom: 0;
  }
}
/* line 76, ../sass/global.scss */
.tour-form input {
  float: left;
  display: block;
  margin-right: 3.03030303%;
  /* 30/990 */
  width: 25.55555556%;
  /* 253/990 */
}
@media screen and (max-width: 835px) {
  /* line 82, ../sass/global.scss */
  .tour-form input:nth-of-type(2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 835px) {
  /* line 76, ../sass/global.scss */
  .tour-form input {
    margin: 0 3.592814371% 30px 0;
    width: 48.20359281%;
    /* 402.5/835 */
  }
}
@media screen and (max-width: 440px) {
  /* line 76, ../sass/global.scss */
  .tour-form input {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
}
/* line 101, ../sass/global.scss */
.tour-form input[type=submit] {
  margin: 1px 0 0 0;
  width: 14.14141414%;
  /* 140/990 */
}
@media screen and (max-width: 835px) {
  /* line 101, ../sass/global.scss */
  .tour-form input[type=submit] {
    width: 28.28282828%;
    /* 280/990 */
  }
}
@media screen and (max-width: 440px) {
  /* line 101, ../sass/global.scss */
  .tour-form input[type=submit] {
    margin-bottom: 30px;
  }
}
/* line 115, ../sass/global.scss */
.tour-form p {
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 18px;
}

/* line 122, ../sass/global.scss */
footer {
  padding: 0 5%;
}
/* line 12, ../sass/mixins.scss */
footer .container:before, footer .container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
footer .container:after {
  clear: both;
}
/* line 129, ../sass/global.scss */
footer .footer-section {
  float: left;
  margin: 0 3.03030303% 30px 0;
  width: 17.57575758%;
  /* 174/990 */
}
@media screen and (max-width: 752px) and (min-width: 500px) {
  /* line 129, ../sass/global.scss */
  footer .footer-section {
    margin: 0 4.016064257% 30px 0;
    /* 30/747 */
    width: 30.65595716%;
    /* 229/747 */
  }
  /* line 138, ../sass/global.scss */
  footer .footer-section:nth-of-type(3) {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  /* line 129, ../sass/global.scss */
  footer .footer-section {
    margin: 0 6% 30px 0;
    width: 47%;
  }
  /* line 147, ../sass/global.scss */
  footer .footer-section:nth-of-type(even) {
    margin-right: 0;
  }
}
/* line 153, ../sass/global.scss */
footer .footer-section:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 752px) {
  /* line 153, ../sass/global.scss */
  footer .footer-section:last-of-type {
    margin-right: 4.016064257%;
  }
}
@media screen and (max-width: 500px) {
  /* line 153, ../sass/global.scss */
  footer .footer-section:last-of-type {
    margin-right: 6%;
  }
}
/* line 165, ../sass/global.scss */
footer p {
  float: right;
  font-size: 14px;
}
@media screen and (max-width: 752px) {
  /* line 165, ../sass/global.scss */
  footer p {
    float: none;
  }
}
/* line 174, ../sass/global.scss */
footer h4 {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #d8d9d9;
  color: #ada9a5;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 5px;
}
/* line 185, ../sass/global.scss */
footer ul:not(.social-icons) a {
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #d8d9d9;
  color: #5d858f;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
}
/* line 197, ../sass/global.scss */
footer .social-icons {
  float: left;
}
/* line 199, ../sass/global.scss */
footer .social-icons li {
  float: left;
}
/* line 202, ../sass/global.scss */
footer .social-icons img {
  border-radius: 100%;
  background-color: #f26961;
  padding: 10px;
  margin-right: 10px;
}
/* line 110, ../sass/mixins.scss */
footer .social-icons img:hover {
  background-color: #395258;
}
@media screen and (max-width: 500px) {
  /* line 197, ../sass/global.scss */
  footer .social-icons {
    margin-bottom: 20px;
  }
}
