/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Text colors */
/* Border colors */
/* Background colors */
/* line 1, ../sass/header.scss */
.logo {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
  background: url(../../img/logo-piqora.png);
  width: 110px;
  height: 44px;
  float: left;
  margin-right: 10px;
}

/* line 7, ../sass/header.scss */
header {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  border-bottom: 1px solid #d8d9d9;
  padding: 30px 0;
}
/* line 12, ../sass/mixins.scss */
header:before, header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
header:after {
  clear: both;
}
/* line 14, ../sass/header.scss */
header a {
  color: #5d858f;
  display: block;
  padding: 15px 10px;
}
/* line 19, ../sass/header.scss */
header a:hover {
  color: #f26961;
}
/* line 25, ../sass/header.scss */
header ul li {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 0 0 0 10px;
  position: relative;
}
/* line 32, ../sass/header.scss */
header ul li .secondary-navigation {
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
  left: 10px;
  position: absolute;
  top: 40px;
  width: 280px;
}
/* line 44, ../sass/header.scss */
header ul li .secondary-navigation li {
  border-bottom: 1px solid #ededed;
  float: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0;
  margin: 0;
  text-transform: none;
}
/* line 55, ../sass/header.scss */
header ul li .secondary-navigation li:last-of-type {
  border-bottom: none;
}
/* line 59, ../sass/header.scss */
header ul li .secondary-navigation a {
  display: block;
  padding: 10px 20px;
}
/* line 63, ../sass/header.scss */
header ul li .secondary-navigation em {
  -webkit-font-smoothing: subpixel-antialiased;
  color: #79898d;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
/* line 73, ../sass/header.scss */
header ul li .secondary-navigation img {
  border-radius: 100%;
  background-color: #f26961;
  padding: 10px;
  float: left;
  margin: 0 10px 0 0;
}
/* line 78, ../sass/header.scss */
header ul li .secondary-navigation a:hover img {
  background-color: #395258;
}
/* line 81, ../sass/header.scss */
header ul li .secondary-navigation:after {
  display: block;
  position: absolute;
  top: -8px;
  left: 20px;
  content: "";
  background: url(../../img/triangle-tip-top.png) no-repeat;
  width: 15px;
  height: 12px;
}
/* line 94, ../sass/header.scss */
header ul li:hover a {
  color: #f26961;
}
/* line 97, ../sass/header.scss */
header ul li:hover li a {
  color: #f26961;
}
/* line 99, ../sass/header.scss */
header ul li:hover li a:hover {
  color: #395258;
}
/* line 103, ../sass/header.scss */
header ul li:hover .secondary-navigation {
  display: block;
}
/* line 109, ../sass/header.scss */
header ul.featured-navigation {
  float: right;
}
/* line 115, ../sass/header.scss */
header .main-cta {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #f26961;
  border: 1px solid #ac170e;
  border-bottom: 1px solid #9e150d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px 15px;
  margin: 0 10px 0 0;
}
/* line 51, ../sass/mixins.scss */
header .main-cta:hover {
  background-color: #5d858f;
  border: 1px solid #3f5a61;
  color: #fff;
}
/* line 120, ../sass/header.scss */
header .jump-navigation {
  display: none;
}
@media screen and (max-width: 685px) {
  /* line 7, ../sass/header.scss */
  header {
    padding-bottom: 25px;
  }
  /* line 128, ../sass/header.scss */
  header .logo {
    float: left;
    margin-bottom: 0;
  }
  /* line 133, ../sass/header.scss */
  header .main-navigation li {
    display: none;
  }
  /* line 136, ../sass/header.scss */
  header .main-navigation li.jump-navigation {
    display: block;
  }
}
@media screen and (max-width: 850px), (max-width: 590px) {
  /* line 7, ../sass/header.scss */
  header {
    padding-bottom: 20px;
  }
  /* line 146, ../sass/header.scss */
  header .logo {
    float: none;
    margin-bottom: 10px;
  }
  /* line 151, ../sass/header.scss */
  header .main-navigation {
    margin-left: -20px;
  }
}
@media screen and (max-width: 430px) {
  /* line 7, ../sass/header.scss */
  header {
    padding: 10px 0;
  }
  /* line 160, ../sass/header.scss */
  header .logo {
    margin: 20px 0 15px 0;
  }
  /* line 164, ../sass/header.scss */
  header .main-navigation {
    float: none;
    margin-right: -10px;
  }
  /* line 169, ../sass/header.scss */
  header .featured-navigation li {
    margin-right: -10px;
  }
  /* line 173, ../sass/header.scss */
  header .main-cta {
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: none;
    border: none;
    box-shadow: none;
    color: #f26961;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    padding: inherit;
    padding: 15px 10px;
  }
}

/* line 7, ../sass/global.scss */
body {
  box-sizing: border-box;
  color: #79898d;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* line 14, ../sass/global.scss */
a {
  text-decoration: none;
  color: #f26961;
}
/* line 18, ../sass/global.scss */
a:hover {
  color: #395258;
}

/* line 23, ../sass/global.scss */
p {
  font-family: Bitter, Georgia, serif;
  font-size: 16px;
  line-height: 1.75em;
}

/* line 27, ../sass/global.scss */
.container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  padding: 50px 0;
}

/* line 3, ../sass/homepage.scss */
.homepage-banner {
  padding: 0 5%;
  background: url(../../img/banner-bg-home.png) no-repeat right bottom;
  background-size: 100%;
  border-bottom: 1px solid #d8d9d9;
}
@media screen and (min-width: 990px) {
  /* line 3, ../sass/homepage.scss */
  .homepage-banner {
    background-size: auto 85%;
  }
}
@media screen and (max-width: 650px) {
  /* line 3, ../sass/homepage.scss */
  .homepage-banner {
    background-size: auto 50%;
  }
}

/* line 18, ../sass/homepage.scss */
.banner-content {
  width: 41.41414141%;
  /* 410/990 */
}
/* line 21, ../sass/homepage.scss */
.banner-content h2 {
  -webkit-font-smoothing: antialiased;
  color: #395258;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
/* line 24, ../sass/homepage.scss */
.banner-content p {
  font-size: 18px;
}
@media screen and (max-width: 910px) {
  /* line 18, ../sass/homepage.scss */
  .banner-content {
    width: 60%;
  }
  /* line 30, ../sass/homepage.scss */
  .banner-content p {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  /* line 18, ../sass/homepage.scss */
  .banner-content {
    width: 100%;
  }
  /* line 37, ../sass/homepage.scss */
  .banner-content p {
    width: 50%;
  }
}
@media screen and (max-width: 685px) {
  /* line 43, ../sass/homepage.scss */
  .banner-content p {
    width: 60%;
  }
}
@media screen and (max-width: 650px) {
  /* line 49, ../sass/homepage.scss */
  .banner-content p {
    width: 100%;
  }
}

/* line 55, ../sass/homepage.scss */
.banner-cta {
  padding: 50px 0 10px 0;
}
/* line 12, ../sass/mixins.scss */
.banner-cta:before, .banner-cta:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.banner-cta:after {
  clear: both;
}
/* line 59, ../sass/homepage.scss */
.banner-cta li {
  float: left;
  margin-right: 3.03030303%;
  /* 30/990 */
  width: 31.31313131%;
  /* 310/990 */
}
/* line 65, ../sass/homepage.scss */
.banner-cta li:first-of-type a {
  z-index: 1;
}
/* line 69, ../sass/homepage.scss */
.banner-cta li:last-of-type {
  margin-right: 0;
}
/* line 73, ../sass/homepage.scss */
.banner-cta a {
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(204, 230, 240, 0.7);
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 240, 246, 0.7)), to(rgba(204, 230, 240, 0.7)));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='rgba(224, 240, 246, 0.7)', EndColorStr='rgba(204, 230, 240, 0.7)');
  border: 1px solid #a3c1cd;
  border-bottom: 1px solid #82abbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 4px rgba(0, 0, 0, 0.15);
  color: #5d858f;
  line-height: 1.5em;
  padding: 0 15px 0 0;
  position: relative;
  display: block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* line 12, ../sass/mixins.scss */
.banner-cta a:before, .banner-cta a:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.banner-cta a:after {
  clear: both;
}
/* line 85, ../sass/mixins.scss */
.banner-cta a strong {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  display: block;
  padding-top: 11px;
}
/* line 92, ../sass/mixins.scss */
.banner-cta a em {
  font-family: Bitter, Georgia, serif;
  font-size: 16px;
  line-height: 1.75em;
}
/* line 96, ../sass/mixins.scss */
.banner-cta a img {
  float: left;
  padding: 17px 15px;
}
/* line 101, ../sass/mixins.scss */
.banner-cta a:hover {
  background-color: #d0e8f1;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0f0f6), to(#d0e8f1));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* IE10 */
  background-image: -o-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #e0f0f6, #d0e8f1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e0f0f6', EndColorStr='#d0e8f1');
  color: #f26961;
}
/* line 77, ../sass/homepage.scss */
.banner-cta a br {
  display: none;
}
@media screen and (max-width: 930px) and (min-width: 650px) {
  /* line 83, ../sass/homepage.scss */
  .banner-cta img {
    padding: 25px 15px 30px 15px;
  }
  /* line 86, ../sass/homepage.scss */
  .banner-cta a br {
    display: block;
  }
}
@media screen and (max-width: 800px) and (min-width: 650px) {
  /* line 92, ../sass/homepage.scss */
  .banner-cta li {
    margin-right: 0;
    width: 33.33333333%;
    /* 240/720 */
  }
  /* line 97, ../sass/homepage.scss */
  .banner-cta li a {
    border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  /* line 101, ../sass/homepage.scss */
  .banner-cta li:first-of-type a {
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  /* line 107, ../sass/homepage.scss */
  .banner-cta li:last-of-type a {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
@media screen and (max-width: 650px) {
  /* line 115, ../sass/homepage.scss */
  .banner-cta li {
    float: none;
    margin: 0 0 15px 0;
    width: 50%;
  }
  /* line 120, ../sass/homepage.scss */
  .banner-cta li strong {
    display: inline-block;
    margin-top: 5px;
  }
  /* line 125, ../sass/homepage.scss */
  .banner-cta li em {
    display: none;
  }
  /* line 129, ../sass/homepage.scss */
  .banner-cta li img {
    padding: 10px;
    width: 12%;
  }
}
@media screen and (max-width: 525px) {
  /* line 137, ../sass/homepage.scss */
  .banner-cta li {
    width: 70%;
  }
  /* line 140, ../sass/homepage.scss */
  .banner-cta li strong {
    margin-top: 0;
  }
}

/* line 147, ../sass/homepage.scss */
.homepage-customers {
  padding: 0 5%;
  background-color: #f2f1f0;
}
/* line 151, ../sass/homepage.scss */
.homepage-customers h2 {
  -webkit-font-smoothing: antialiased;
  color: #395258;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  margin: 0 auto 50px auto;
  text-align: center;
  width: 75%;
}
/* line 157, ../sass/homepage.scss */
.homepage-customers h2 a {
  color: #f0574e;
}
@media screen and (max-width: 895px) {
  /* line 151, ../sass/homepage.scss */
  .homepage-customers h2 {
    width: 100%;
  }
}
/* line 165, ../sass/homepage.scss */
.homepage-customers .logos {
  border-bottom: 1px solid #d8d9d9;
  border-top: 1px solid #d8d9d9;
  display: table;
  margin-bottom: 50px;
  padding: 30px 0;
  width: 100%;
}
/* line 12, ../sass/mixins.scss */
.homepage-customers .logos:before, .homepage-customers .logos:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.homepage-customers .logos:after {
  clear: both;
}
@media screen and (max-width: 760px) {
  /* line 165, ../sass/homepage.scss */
  .homepage-customers .logos {
    padding: 10px 0;
  }
}
/* line 179, ../sass/homepage.scss */
.homepage-customers ul {
  display: table-cell;
}
@media screen and (max-width: 760px) {
  /* line 179, ../sass/homepage.scss */
  .homepage-customers ul {
    display: table;
    width: 100%;
  }
}
@media screen and (min-width: 760px) {
  /* line 189, ../sass/homepage.scss */
  .homepage-customers ul:first-of-type li:first-of-type {
    padding-left: 0;
  }
  /* line 193, ../sass/homepage.scss */
  .homepage-customers ul:last-of-type li:last-of-type {
    padding-right: 0;
  }
}
/* line 198, ../sass/homepage.scss */
.homepage-customers li {
  display: table-cell;
  padding: 0 15px;
  vertical-align: middle;
}
/* line 203, ../sass/homepage.scss */
.homepage-customers li img {
  width: 100%;
}
@media screen and (max-width: 895px) {
  /* line 198, ../sass/homepage.scss */
  .homepage-customers li {
    padding: 0 10px;
  }
}
@media screen and (max-width: 760px) {
  /* line 198, ../sass/homepage.scss */
  .homepage-customers li {
    padding: 10px 5%;
  }
}
@media screen and (max-width: 490px) {
  /* line 198, ../sass/homepage.scss */
  .homepage-customers li {
    padding: 10px 2%;
  }
}

/* line 12, ../sass/mixins.scss */
.testimonials:before, .testimonials:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.testimonials:after {
  clear: both;
}
/* line 224, ../sass/homepage.scss */
.testimonials blockquote {
  width: 45.45454545%;
  /* 450/990 */
}
/* line 227, ../sass/homepage.scss */
.testimonials blockquote:first-of-type {
  float: left;
}
@media screen and (max-width: 560px) {
  /* line 227, ../sass/homepage.scss */
  .testimonials blockquote:first-of-type {
    margin-bottom: 50px;
  }
}
/* line 235, ../sass/homepage.scss */
.testimonials blockquote:last-of-type {
  float: right;
}
@media screen and (max-width: 560px) {
  /* line 224, ../sass/homepage.scss */
  .testimonials blockquote {
    float: none;
    width: 100%;
  }
}
/* line 245, ../sass/homepage.scss */
.testimonials p {
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.4em;
}
@media screen and (max-width: 740px) {
  /* line 245, ../sass/homepage.scss */
  .testimonials p {
    font-size: 20px;
  }
}
/* line 258, ../sass/homepage.scss */
.testimonials p::first-letter {
  margin-left: -10px;
}
/* line 262, ../sass/homepage.scss */
.testimonials cite {
  font-size: 14px;
  display: block;
  line-height: 1.5em;
  margin-top: 30px;
}
/* line 268, ../sass/homepage.scss */
.testimonials cite img {
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  float: left;
  margin-right: 25px;
}
@media screen and (max-width: 560px) {
  /* line 268, ../sass/homepage.scss */
  .testimonials cite img {
    margin-top: -5px;
    width: 40px;
  }
}
@media screen and (max-width: 740px) {
  /* line 279, ../sass/homepage.scss */
  .testimonials cite br {
    display: none;
  }
}

/* line 287, ../sass/homepage.scss */
.features-highlight {
  padding: 0 5%;
  border-top: 1px solid #d8d9d9;
}
/* line 291, ../sass/homepage.scss */
.features-highlight h2 {
  -webkit-font-smoothing: antialiased;
  color: #5d858f;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  line-height: 1.2857142857em;
  margin-bottom: 50px;
}
/* line 297, ../sass/homepage.scss */
.features-highlight .feature {
  border-top: 1px solid #d8d9d9;
  padding: 50px 0;
}
/* line 12, ../sass/mixins.scss */
.features-highlight .feature:before, .features-highlight .feature:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.features-highlight .feature:after {
  clear: both;
}
/* line 303, ../sass/homepage.scss */
.features-highlight .promotions {
  padding-bottom: 0;
}
/* line 306, ../sass/homepage.scss */
.features-highlight .promotions .feature-image {
  float: right;
}
/* line 309, ../sass/homepage.scss */
.features-highlight .promotions .feature-content {
  float: left;
}
/* line 314, ../sass/homepage.scss */
.features-highlight .feature-image {
  float: left;
  margin-top: 15px;
  width: 58.78787879%;
}
@media screen and (max-width: 965px) {
  /* line 320, ../sass/homepage.scss */
  .features-highlight .feature .feature-image {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  /* line 320, ../sass/homepage.scss */
  .features-highlight .feature .feature-image {
    display: block;
    float: none;
    margin: 0 auto;
    width: 80.83333333%;
  }
}
@media screen and (max-width: 580px) {
  /* line 320, ../sass/homepage.scss */
  .features-highlight .feature .feature-image {
    width: 100%;
  }
}
/* line 337, ../sass/homepage.scss */
.features-highlight .feature-content {
  float: right;
  width: 34.34343434%;
}
@media screen and (max-width: 965px) {
  /* line 337, ../sass/homepage.scss */
  .features-highlight .feature-content {
    width: 42.0023015%;
    /* 365/869 */
  }
}
@media screen and (max-width: 800px) {
  /* line 337, ../sass/homepage.scss */
  .features-highlight .feature-content {
    margin-top: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  /* line 351, ../sass/homepage.scss */
  .features-highlight .feature-description {
    float: left;
    width: 47%;
  }
}
@media screen and (max-width: 580px) {
  /* line 351, ../sass/homepage.scss */
  .features-highlight .feature-description {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  /* line 363, ../sass/homepage.scss */
  .features-highlight ul {
    float: right;
    width: 47%;
  }
}
@media screen and (max-width: 580px) {
  /* line 363, ../sass/homepage.scss */
  .features-highlight ul {
    float: none;
    width: 100%;
  }
}
/* line 375, ../sass/homepage.scss */
.features-highlight h3 {
  -webkit-font-smoothing: antialiased;
  color: #395258;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
@media screen and (max-width: 580px) {
  /* line 375, ../sass/homepage.scss */
  .features-highlight h3 {
    margin-bottom: 10px;
  }
}
/* line 383, ../sass/homepage.scss */
.features-highlight p {
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  /* line 383, ../sass/homepage.scss */
  .features-highlight p {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 580px) {
  /* line 383, ../sass/homepage.scss */
  .features-highlight p {
    margin-bottom: 30px;
  }
}
/* line 395, ../sass/homepage.scss */
.features-highlight li {
  display: block;
  line-height: 1.3em;
  margin: 15px 0;
}
/* line 12, ../sass/mixins.scss */
.features-highlight li:before, .features-highlight li:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.features-highlight li:after {
  clear: both;
}
/* line 401, ../sass/homepage.scss */
.features-highlight li img {
  border-radius: 100%;
  background-color: #f26961;
  padding: 5px;
  float: left;
  margin: -5px 10px 0 0;
}
/* line 407, ../sass/homepage.scss */
.features-highlight li a:hover img {
  background-color: #395258;
}

/* line 413, ../sass/homepage.scss */
.major-results {
  padding: 0 5%;
  background: #759395 url(../../img/bg-major-results.png);
  background-size: cover;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 419, ../sass/homepage.scss */
.major-results h2 {
  -webkit-font-smoothing: antialiased;
  color: #2b3e42;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* line 424, ../sass/homepage.scss */
.major-results ul {
  border-top: 1px solid #fff;
}
/* line 428, ../sass/homepage.scss */
.major-results li {
  border-bottom: 1px solid #fff;
  padding: 30px 0;
}
/* line 12, ../sass/mixins.scss */
.major-results li:before, .major-results li:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.major-results li:after {
  clear: both;
}
/* line 433, ../sass/homepage.scss */
.major-results li a {
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(204, 230, 240, 0.7);
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 240, 246, 0.7)), to(rgba(204, 230, 240, 0.7)));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='rgba(224, 240, 246, 0.7)', EndColorStr='rgba(204, 230, 240, 0.7)');
  border: 1px solid #a3c1cd;
  border-bottom: 1px solid #82abbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 4px rgba(0, 0, 0, 0.15);
  color: #5d858f;
  line-height: 1.5em;
  padding: 0 15px 0 0;
  position: relative;
  display: block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.4);
  float: right;
  width: 31.31313131%;
  /* 310/990 */
}
/* line 85, ../sass/mixins.scss */
.major-results li a strong {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  display: block;
  padding-top: 11px;
}
/* line 92, ../sass/mixins.scss */
.major-results li a em {
  font-family: Bitter, Georgia, serif;
  font-size: 16px;
  line-height: 1.75em;
}
/* line 96, ../sass/mixins.scss */
.major-results li a img {
  float: left;
  padding: 17px 15px;
}
/* line 101, ../sass/mixins.scss */
.major-results li a:hover {
  background-color: #d0e8f1;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0f0f6), to(#d0e8f1));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* IE10 */
  background-image: -o-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #e0f0f6, #d0e8f1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e0f0f6', EndColorStr='#d0e8f1');
  color: #f26961;
}
@media screen and (max-width: 805px) {
  /* line 433, ../sass/homepage.scss */
  .major-results li a {
    margin-top: 20px;
    width: 40%;
  }
}
@media screen and (max-width: 635px) {
  /* line 433, ../sass/homepage.scss */
  .major-results li a {
    float: left;
    width: 50%;
  }
}
@media screen and (max-width: 505px) {
  /* line 433, ../sass/homepage.scss */
  .major-results li a {
    padding: 0;
    width: 100%;
  }
}
/* line 455, ../sass/homepage.scss */
.major-results li .stats {
  float: left;
  width: 31.31313131%;
  /* 310/990 */
}
/* line 459, ../sass/homepage.scss */
.major-results li .stats strong {
  -webkit-font-smoothing: antialiased;
  color: white;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
/* line 463, ../sass/homepage.scss */
.major-results li .stats em {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  display: block;
}
@media screen and (max-width: 805px) {
  /* line 463, ../sass/homepage.scss */
  .major-results li .stats em {
    display: inline-block;
  }
}
@media screen and (max-width: 805px) {
  /* line 455, ../sass/homepage.scss */
  .major-results li .stats {
    float: none;
    margin-bottom: 15px;
    width: 100%;
  }
}
/* line 481, ../sass/homepage.scss */
.major-results li p {
  color: #fff;
  float: left;
  width: 31.31313131%;
  /* 310/990 */
}
@media screen and (max-width: 805px) {
  /* line 481, ../sass/homepage.scss */
  .major-results li p {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 805px) {
  /* line 492, ../sass/homepage.scss */
  .major-results li .results-description {
    float: left;
    width: 50%;
  }
}
@media screen and (max-width: 635px) {
  /* line 492, ../sass/homepage.scss */
  .major-results li .results-description {
    float: none;
    width: 100%;
  }
}
/* line 505, ../sass/homepage.scss */
.major-results .cta-wide {
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #f2f1f0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  font-size: 20px;
  line-height: 1.4em;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}
