/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Text colors */
/* Border colors */
/* Background colors */
/* line 1, ../sass/header.scss */
.logo {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
  background: url(../../img/logo-piqora.png);
  width: 110px;
  height: 44px;
  float: left;
  margin-right: 10px;
}

/* line 7, ../sass/header.scss */
header {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  border-bottom: 1px solid #d8d9d9;
  padding: 30px 0;
}
/* line 12, ../sass/mixins.scss */
header:before, header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
header:after {
  clear: both;
}
/* line 14, ../sass/header.scss */
header a {
  color: #5d858f;
  display: block;
  padding: 15px 10px;
}
/* line 19, ../sass/header.scss */
header a:hover {
  color: #f26961;
}
/* line 25, ../sass/header.scss */
header ul li {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 0 0 0 10px;
  position: relative;
}
/* line 32, ../sass/header.scss */
header ul li .secondary-navigation {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
  left: 10px;
  position: absolute;
  top: 40px;
  width: 280px;
}
/* line 44, ../sass/header.scss */
header ul li .secondary-navigation li {
  border-bottom: 1px solid #ededed;
  float: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 0;
  margin: 0;
  text-transform: none;
}
/* line 55, ../sass/header.scss */
header ul li .secondary-navigation li:last-of-type {
  border-bottom: none;
}
/* line 59, ../sass/header.scss */
header ul li .secondary-navigation a {
  display: block;
  padding: 10px 20px;
}
/* line 63, ../sass/header.scss */
header ul li .secondary-navigation em {
  -webkit-font-smoothing: subpixel-antialiased;
  color: #79898d;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
/* line 73, ../sass/header.scss */
header ul li .secondary-navigation img {
  background: #f26961;
  border-radius: 100%;
  padding: 10px;
  float: left;
  margin: 0 10px 0 0;
}
/* line 78, ../sass/header.scss */
header ul li .secondary-navigation:after {
  display: block;
  position: absolute;
  top: -8px;
  left: 20px;
  content: "";
  background: url(../../img/triangle-tip-top.png) no-repeat;
  width: 15px;
  height: 12px;
}
/* line 91, ../sass/header.scss */
header ul li:hover a {
  color: #f26961;
}
/* line 94, ../sass/header.scss */
header ul li:hover li a {
  color: #395258;
}
/* line 96, ../sass/header.scss */
header ul li:hover li a:hover {
  color: #f26961;
}
/* line 100, ../sass/header.scss */
header ul li:hover .secondary-navigation {
  display: block;
}
/* line 106, ../sass/header.scss */
header ul.featured-navigation {
  float: right;
}
/* line 112, ../sass/header.scss */
header .main-cta {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  background: #f26961;
  border: 1px solid #ac170e;
  border-bottom: 1px solid #9e150d;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px 15px;
  margin: 0 10px 0 0;
}
/* line 117, ../sass/header.scss */
header .jump-navigation {
  display: none;
}
@media screen and (max-width: 685px) {
  /* line 7, ../sass/header.scss */
  header {
    padding-bottom: 25px;
  }
  /* line 125, ../sass/header.scss */
  header .logo {
    float: left;
    margin-bottom: 0;
  }
  /* line 130, ../sass/header.scss */
  header .main-navigation li {
    display: none;
  }
  /* line 133, ../sass/header.scss */
  header .main-navigation li.jump-navigation {
    display: block;
  }
}
@media screen and (max-width: 850px), (max-width: 590px) {
  /* line 7, ../sass/header.scss */
  header {
    padding-bottom: 20px;
  }
  /* line 143, ../sass/header.scss */
  header .logo {
    float: none;
    margin-bottom: 10px;
  }
  /* line 148, ../sass/header.scss */
  header .main-navigation {
    margin-left: -20px;
  }
}
@media screen and (max-width: 430px) {
  /* line 7, ../sass/header.scss */
  header {
    padding: 10px 0;
  }
  /* line 157, ../sass/header.scss */
  header .logo {
    margin: 20px 0 15px 0;
  }
  /* line 161, ../sass/header.scss */
  header .main-navigation {
    float: none;
    margin-right: -10px;
  }
  /* line 166, ../sass/header.scss */
  header .featured-navigation li {
    margin-right: -10px;
  }
  /* line 170, ../sass/header.scss */
  header .main-cta {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #f26961;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    padding: inherit;
    padding: 15px 10px;
  }
}

/* line 7, ../sass/global.scss */
body {
  box-sizing: border-box;
  color: #79898d;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* line 14, ../sass/global.scss */
a {
  text-decoration: none;
}

/* line 18, ../sass/global.scss */
p {
  font-family: Bitter, Georgia, serif;
  font-size: 16px;
  line-height: 1.75em;
}

/* line 22, ../sass/global.scss */
.container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  padding: 50px 0;
}

/* line 3, ../sass/homepage.scss */
.homepage-banner {
  padding: 0 5%;
  background: url(../../img/banner-bg-home.png) no-repeat right bottom;
  background-size: 100%;
  border-bottom: 1px solid #d8d9d9;
}
@media screen and (min-width: 990px) {
  /* line 3, ../sass/homepage.scss */
  .homepage-banner {
    background-size: auto 85%;
  }
}
@media screen and (max-width: 650px) {
  /* line 3, ../sass/homepage.scss */
  .homepage-banner {
    background-size: auto 50%;
  }
}

/* line 18, ../sass/homepage.scss */
.banner-content {
  width: 41.41414141%;
  /* 410/990 */
}
/* line 21, ../sass/homepage.scss */
.banner-content h2 {
  -webkit-font-smoothing: antialiased;
  color: #395258;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
/* line 24, ../sass/homepage.scss */
.banner-content p {
  font-size: 18px;
}
@media screen and (max-width: 910px) {
  /* line 18, ../sass/homepage.scss */
  .banner-content {
    width: 60%;
  }
  /* line 30, ../sass/homepage.scss */
  .banner-content p {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  /* line 18, ../sass/homepage.scss */
  .banner-content {
    width: 100%;
  }
  /* line 37, ../sass/homepage.scss */
  .banner-content p {
    width: 50%;
  }
}
@media screen and (max-width: 685px) {
  /* line 43, ../sass/homepage.scss */
  .banner-content p {
    width: 60%;
  }
}
@media screen and (max-width: 650px) {
  /* line 49, ../sass/homepage.scss */
  .banner-content p {
    width: 100%;
  }
}

/* line 55, ../sass/homepage.scss */
.banner-cta {
  padding: 50px 0 10px 0;
}
/* line 12, ../sass/mixins.scss */
.banner-cta:before, .banner-cta:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.banner-cta:after {
  clear: both;
}
/* line 59, ../sass/homepage.scss */
.banner-cta li {
  float: left;
  margin-right: 3.03030303%;
  /* 30/990 */
  width: 31.31313131%;
  /* 310/990 */
}
/* line 65, ../sass/homepage.scss */
.banner-cta li:first-of-type a {
  z-index: 1;
}
/* line 69, ../sass/homepage.scss */
.banner-cta li:last-of-type {
  margin-right: 0;
}
/* line 73, ../sass/homepage.scss */
.banner-cta a {
  background-color: rgba(204, 230, 240, 0.7);
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 240, 246, 0.7)), to(rgba(204, 230, 240, 0.7)));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='rgba(224, 240, 246, 0.7)', EndColorStr='rgba(204, 230, 240, 0.7)');
  border: 1px solid #a3c1cd;
  border-bottom: 1px solid #82abbb;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 4px rgba(0, 0, 0, 0.15);
  color: #5d858f;
  line-height: 1.5em;
  padding: 0 15px 0 0;
  position: relative;
  display: block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* line 12, ../sass/mixins.scss */
.banner-cta a:before, .banner-cta a:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.banner-cta a:after {
  clear: both;
}
/* line 87, ../sass/homepage.scss */
.banner-cta a br {
  display: none;
}
/* line 91, ../sass/homepage.scss */
.banner-cta a:hover {
  background-color: #d0e8f1;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0f0f6), to(#d0e8f1));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* IE10 */
  background-image: -o-linear-gradient(top, #e0f0f6, #d0e8f1);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #e0f0f6, #d0e8f1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e0f0f6', EndColorStr='#d0e8f1');
  color: #f26961;
}
/* line 97, ../sass/homepage.scss */
.banner-cta strong {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  display: block;
  padding-top: 11px;
}
/* line 104, ../sass/homepage.scss */
.banner-cta em {
  font-family: Bitter, Georgia, serif;
  font-size: 16px;
  line-height: 1.75em;
}
/* line 108, ../sass/homepage.scss */
.banner-cta img {
  float: left;
  padding: 17px 15px;
}
@media screen and (max-width: 930px) and (min-width: 650px) {
  /* line 114, ../sass/homepage.scss */
  .banner-cta img {
    padding: 25px 15px 30px 15px;
  }
  /* line 117, ../sass/homepage.scss */
  .banner-cta a br {
    display: block;
  }
}
@media screen and (max-width: 800px) and (min-width: 650px) {
  /* line 123, ../sass/homepage.scss */
  .banner-cta li {
    margin-right: 0;
    width: 33.33333333%;
    /* 240/720 */
  }
  /* line 128, ../sass/homepage.scss */
  .banner-cta li a {
    border-radius: 0;
  }
  /* line 132, ../sass/homepage.scss */
  .banner-cta li:first-of-type a {
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  /* line 138, ../sass/homepage.scss */
  .banner-cta li:last-of-type a {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
@media screen and (max-width: 650px) {
  /* line 146, ../sass/homepage.scss */
  .banner-cta li {
    float: none;
    margin: 0 0 15px 0;
    width: 50%;
  }
  /* line 151, ../sass/homepage.scss */
  .banner-cta li strong {
    display: inline-block;
    margin-top: 5px;
  }
  /* line 156, ../sass/homepage.scss */
  .banner-cta li em {
    display: none;
  }
  /* line 160, ../sass/homepage.scss */
  .banner-cta li img {
    padding: 10px;
    width: 12%;
  }
}
@media screen and (max-width: 525px) {
  /* line 168, ../sass/homepage.scss */
  .banner-cta li {
    width: 70%;
  }
  /* line 171, ../sass/homepage.scss */
  .banner-cta li strong {
    margin-top: 0;
  }
}

/* line 178, ../sass/homepage.scss */
.homepage-customers {
  padding: 0 5%;
  background: #f2f1f0;
}
/* line 182, ../sass/homepage.scss */
.homepage-customers h2 {
  -webkit-font-smoothing: antialiased;
  color: #395258;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4375em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  margin: 0 auto 50px auto;
  text-align: center;
  width: 75%;
}
/* line 188, ../sass/homepage.scss */
.homepage-customers h2 a {
  color: #f0574e;
}
@media screen and (max-width: 895px) {
  /* line 182, ../sass/homepage.scss */
  .homepage-customers h2 {
    width: 100%;
  }
}
/* line 196, ../sass/homepage.scss */
.homepage-customers .logos {
  border-bottom: 1px solid #d8d9d9;
  border-top: 1px solid #d8d9d9;
  display: table;
  margin-bottom: 50px;
  padding: 30px 0;
  width: 100%;
}
/* line 12, ../sass/mixins.scss */
.homepage-customers .logos:before, .homepage-customers .logos:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.homepage-customers .logos:after {
  clear: both;
}
@media screen and (max-width: 760px) {
  /* line 196, ../sass/homepage.scss */
  .homepage-customers .logos {
    padding: 10px 0;
  }
}
/* line 210, ../sass/homepage.scss */
.homepage-customers ul {
  display: table-cell;
}
@media screen and (max-width: 760px) {
  /* line 210, ../sass/homepage.scss */
  .homepage-customers ul {
    display: table;
    width: 100%;
  }
}
@media screen and (min-width: 760px) {
  /* line 220, ../sass/homepage.scss */
  .homepage-customers ul:first-of-type li:first-of-type {
    padding-left: 0;
  }
  /* line 224, ../sass/homepage.scss */
  .homepage-customers ul:last-of-type li:last-of-type {
    padding-right: 0;
  }
}
/* line 229, ../sass/homepage.scss */
.homepage-customers li {
  display: table-cell;
  padding: 0 15px;
  vertical-align: middle;
}
/* line 234, ../sass/homepage.scss */
.homepage-customers li img {
  width: 100%;
}
@media screen and (max-width: 895px) {
  /* line 229, ../sass/homepage.scss */
  .homepage-customers li {
    padding: 0 10px;
  }
}
@media screen and (max-width: 760px) {
  /* line 229, ../sass/homepage.scss */
  .homepage-customers li {
    padding: 10px 5%;
  }
}
@media screen and (max-width: 490px) {
  /* line 229, ../sass/homepage.scss */
  .homepage-customers li {
    padding: 10px 2%;
  }
}

/* line 12, ../sass/mixins.scss */
.testimonials:before, .testimonials:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 18, ../sass/mixins.scss */
.testimonials:after {
  clear: both;
}
/* line 256, ../sass/homepage.scss */
.testimonials blockquote {
  width: 45.45454545%;
  /* 450/990 */
}
/* line 259, ../sass/homepage.scss */
.testimonials blockquote:first-of-type {
  float: left;
}
@media screen and (max-width: 560px) {
  /* line 259, ../sass/homepage.scss */
  .testimonials blockquote:first-of-type {
    margin-bottom: 50px;
  }
}
/* line 267, ../sass/homepage.scss */
.testimonials blockquote:last-of-type {
  float: right;
}
@media screen and (max-width: 560px) {
  /* line 256, ../sass/homepage.scss */
  .testimonials blockquote {
    float: none;
    width: 100%;
  }
}
/* line 277, ../sass/homepage.scss */
.testimonials p {
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.4em;
}
@media screen and (max-width: 740px) {
  /* line 277, ../sass/homepage.scss */
  .testimonials p {
    font-size: 20px;
  }
}
/* line 289, ../sass/homepage.scss */
.testimonials p::first-letter {
  margin-left: -10px;
}
/* line 292, ../sass/homepage.scss */
.testimonials cite {
  font-size: 14px;
  display: block;
  line-height: 1.5em;
  margin-top: 30px;
}
/* line 298, ../sass/homepage.scss */
.testimonials cite img {
  border-radius: 100%;
  float: left;
  margin-right: 25px;
}
@media screen and (max-width: 560px) {
  /* line 298, ../sass/homepage.scss */
  .testimonials cite img {
    margin-top: -5px;
    width: 40px;
  }
}
@media screen and (max-width: 740px) {
  /* line 309, ../sass/homepage.scss */
  .testimonials cite br {
    display: none;
  }
}
