.leading-brands {
	border-bottom: 1px solid rgba(0,0,0,.1);

	h2 {
		text-align: center;
	}

	p {
		font-size: 20px;
		margin: 30px auto 50px auto;
		text-align: center;
		width: 80%;

		@media screen and (max-width: 560px) {
			width: 100%;
		}
	}
}

.logos {
    @include clear;
    display: table;
    width: 100%;

    @media screen and (max-width: 760px) {
        padding: 10px 0;
    }


	ul {
	    display: table-cell;
	    
	    @media screen and (max-width: 760px) {
	        display: table;
	        width: 100%;
	    }
	}

	@media screen and (min-width: 760px) {
	    ul:first-of-type li:first-of-type {
	        padding-left: 0;
	    }

	    ul:last-of-type li:last-of-type {
	        padding-right: 0;
	    }
	}

	li {
	    display: table-cell;
	    padding: 0 15px;
	    vertical-align: middle;

	    img {
	        min-width: 30px;
	        max-height: 50px;
	        max-width: 100%;
	    }

	    @media screen and (max-width: 895px) {
	        padding: 0 10px;
	    }

	    @media screen and (max-width: 760px) {
	        padding: 10px 5%;
	    }

	    @media screen and (max-width: 490px) {
	        padding: 10px 2%;
	    }
	}
}

.client-quotes {
	@include outerContainer;
	@include clear;

	blockquote {
		float: left;
		margin: 50px 3.03030303% 50px 0;
		width: 31.31313131%;

		&:last-of-type {
			margin-right: 0;
		}

		@media screen and (max-width: 680px) {
			border-bottom: 1px solid rgba(0,0,0,.1);
			float: none;
			margin: 30px 0;
			padding-bottom: 30px;
			width: 100%;

			&:first-of-type {
				margin-top: 50px;
			}

			&:last-of-type {
				border-bottom: none;
			}
		}
	}

	p {
		margin-bottom: 30px;
	}

	cite {
		line-height: 1.5em;
	}
}

.promotions {
	@include outerContainer;

	h3 {
		border-bottom: 1px solid rgba(0,0,0,.15);
		padding-bottom: 30px;
	}

	li {
		float: left;
		margin: 30px 3.03030303% 30px 0;
		width: 22.72727273%;

		&:last-of-type {
			margin-right: 0;
		}
	}

	br {
		display: none;

		@media screen and (max-width: 860px) {
			display: block;
		}
	}

	img {
		margin-bottom: 30px;
		max-width: 100%;
	}

	.company img {
		max-height: 40px;
	}

	.promotion {
		@include imageFrame;
		margin: 30px 0 0 0;
	}

	@media screen and (max-width: 650px) {

		h3 {
			text-align: left;

			br {
				display: none;
			}
		}
		li {
			@include clear;
			border-bottom: 1px solid rgba(0,0,0,.15);
			float: none;
			margin: 0;
			padding: 30px 0;
			width: 100%;

			&:first-of-type {
				padding-top: 0;
			}

			&:last-of-type {
				border-bottom: none;
				padding-bottom: 0;
			}

			.company {
				float: right;
				text-align: left;
				width: 56.41025641%; /* 330/585 */

				h5 {
					text-align: left;

					br {
						display: none;
					}
				}
			}

			.promotion {
				margin: 0;
				float: left;
				width: 38.46153846%;
			}
		}
	}
}

.case-study {
	@include outerContainer;

	.study {
		@include borderRadius(5px);
		background: $colorContentAlternate;
        border: 1px solid darken($colorContentAlternate,10%);
        float: left;
        margin-right: 3.03030303%; /* 30/990 */
        padding: 30px;
        width: 48.48484848%; /* 480/990 */

        &:last-of-type {
        	margin-right: 0;
        }

        h5 {
        	border-bottom: 1px solid rgba(0,0,0,.15);
        	margin-bottom: 30px;
        	padding-bottom: 10px;
        }

        h4 {
        	font-size: 18px;
        	margin-bottom: 20px;
        }

        a {
        	@include mainCta;
	        -webkit-font-smoothing: antialiased;
	        display: inline-block;
        }

        img {
        	@include imageFrame;
        	float: left;
        	margin: 3px 6.25% 0 0;
        }
	}
	.mini-studies {
		margin-top: 60px;
		li {
			float: left;
	        margin-right: 3.03030303%; /* 30/990 */
			width: 31.31313131%;

			&:last-of-type {
				margin-right: 0;
			}

			img {
				float: left;
				margin-right: 3.03030303%; /* 30/990 */
				width: 25.80645161%;
			}

			p {
				float: right;
				width: 64.51612903%; /* 200/310 */
			}
		}
	}

	@media screen and (max-width: 800px) {
		.study, 
		.mini-studies li {
	        	@include clear;
	        	float: none;
	        	margin: 0 0 50px 0;
	        	width: 100%;

	        	br {
	        		display: none;
	        	}
	        }
	    }


	    .mini-studies li {
	    	border-bottom: 1px solid rgba(0,0,0,.15);
	    	margin: 0;
	    	padding: 30px 0;

	    	&:first-of-type {
	    		padding-top: 0;
	    	}

	    	&:last-of-type {
	    		padding-bottom: 0;
	    		border-bottom: none;
	    	}

	    	img {
	    		width: 11.17318436%;
	    	}

	    	p {
	    		width: 84.63687151%;
	    	}
	    }
	}