.simple-banner {
	background-color: $colorContentAlternate;

	h2 {
		font-size: 32px;
		margin-bottom: 0;
	}

	&.resources {
		background: url(../img/banner-bg-resources.png) no-repeat right bottom;
        background-size: 100%;
	}

}

.filter-nav {
    background:$colorContentHighlight;
    border-top: 1px solid rgba(0,0,0,.2);
    box-shadow: inset 0 0 4px rgba(0,0,0,0.1);

    h3 {
    	float: left;
    	font-size: 12px;
    	letter-spacing: 0;
		margin-right: 10px;
    	text-transform: uppercase;
    }

    .type-filter li {
    	float: left;
    	font-size: 13px;

    	a {
    		background: #fff;
    		border-radius: 30px;
    		color: #85acb6;
    		margin-right: 5px;
    		padding: 1px 5px;
    	}
    }

    .network-filter li {
    	float: left;
    	margin: -10px 10px 0 0;

    	a {
		   	background: #85acb6;
    		border-radius: 3px;
    		color: #fff;
    		display: table;
    		padding: 5px;
    		text-align: center;
    		vertical-align: middle;
    		width: 110px;

    		img {
    			display: table-cell;
    		}

    		em {
    			display: table-cell;
		        -webkit-font-smoothing: antialiased;
    			font-size: 12px;
    			font-weight: 700;
    			text-transform: uppercase;
    			vertical-align: middle;
    		}
    	}
    }
}