@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";

@import "header";

body {
	box-sizing: border-box;
    color: $colorBody;
    font-family: $fontSans;
    font-size: 100%;
}

a {
	text-decoration: none;
    color: $colorAccent;
    
    &:hover {
        color: $colorBodyDark;
    }
}

p {
    @include bodyText;
}

input {
    box-sizing: border-box;
}

input:not([type=submit]) {
    @include borderRadius(4px);
    border: 1px solid rgba(0,0,0,.3);
    color: lighten($colorBodyAlt,20%);
    font: {
        family: $fontSans;
        size: 20px;
    }
    padding: 10px;
}

input[type=submit] {
    @include mainCta;
    cursor: pointer;
    font-family: $fontSans;
    padding: 12px;
}

.container {
    @include contentContainer;
    padding: $verticalSpacingLarge 0;
}

.tour-form {
    @include outerContainer;
    background: url(../../img/bg-tour-form.jpg);
    background-size:cover;
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-top: 1px solid rgba(0,0,0,.3);
    margin-top: -2px;

    h2 {
        @include sectionHeadline(darken($colorBodyDark,7%));
        text-shadow: 0 1px 0 rgba(255,255,255,.3);
    }

    form {
        @include clear;
        margin-bottom: $verticalSpacingMedium;
        
        @media screen and (max-width: 835px) {
            margin-bottom: 0;
        }
    }

    input {
        float: left;
        display: block;
        margin-right: 3.03030303%; /* 30/990 */
        width: 25.55555556%; /* 253/990 */

        &:nth-of-type(2) {
            @media screen and (max-width: 835px) {
                margin-right: 0;
            }
        }

        @media screen and (max-width: 835px) {
            margin: 0 3.592814371% 30px 0;
            width: 48.20359281%; /* 402.5/835 */
        }

        @media screen and (max-width: 440px) {
            float: none;
            margin: 0 0 20px 0;
            width: 100%;
        }

    }

    input[type=submit] {
        margin: 1px 0 0 0;
        width: 14.14141414%; /* 140/990 */

        @media screen and (max-width: 835px) {
            width: 28.28282828%; /* 280/990 */
        }

        @media screen and (max-width: 440px) {
            margin-bottom: 30px;
        }

    }

    p {
        text-shadow: 0 -1px 1px rgba(0,0,0,.2);
        color: #fff;
        font-size: 18px;
    }
}

footer {
    @include outerContainer;

    .container {
        @include clear;
    }

    .footer-section {
        float: left;
        margin: 0 3.03030303% 30px 0;
        width: 17.57575758%; /* 174/990 */

        @media screen and (max-width: 752px) and (min-width: 500px) {
            margin: 0 4.016064257% 30px 0; /* 30/747 */
            width: 30.65595716%; /* 229/747 */
            
            &:nth-of-type(3) {
                margin-right: 0;
            }
        }

        @media screen and (max-width: 500px) {
            margin: 0 6% 30px 0;
            width: 47%;

            &:nth-of-type(even) {
                margin-right: 0;
            }
        }
    }

    .footer-section:last-of-type {
        margin-right: 0;

        @media screen and (max-width: 752px) {
            margin-right: 4.016064257%;
        }

        @media screen and (max-width: 500px) {
            margin-right: 6%;
        }
    }

    p {
        float: right;
        font-size: 14px;

        @media screen and (max-width: 752px) {
            float: none;
        }
    }

    h4 {
        @include subTitleStyle;
        border-bottom: 1px solid $colorBorders;
        color: #ada9a5;
        font: {
            size: 14px;
            weight: 700;
        }
        padding-bottom: 5px;
    }

    ul:not(.social-icons) a {
        -webkit-font-smoothing: antialiased;
        border-bottom: 1px solid $colorBorders;
        color: $colorBodyAlt;
        display: block;
        font: {
            size: 14px;
            weight: 600;
        }
        padding: 8px 0;
    }

    .social-icons {
        float: left;
        li {
            float: left;
        }
        img {
            @include networkIcon(10px);
            margin-right: 10px;
        }

        @media screen and (max-width: 500px) {
            margin-bottom: 20px;
        }
    }
}