@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";

@import "header.scss";

body {
	box-sizing: border-box;
    color: $colorBody;
    font-family: $fontSans;
    font-size: 100%;
}

a {
	text-decoration: none;
}

p {
    @include bodyText;
}

.container {
    @include contentContainer;
    padding: $verticalSpacingLarge 0;
}