/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Text colors */
/* Border colors */
/* Background colors */
.logo {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
  background: url(../../img/logo-piqora.png);
  width: 110px;
  height: 44px;
  float: left;
  margin-right: 10px; }

header {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  border-bottom: 1px solid #d8d9d9;
  padding: 30px 0; }
  header:before, header:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  header:after {
    clear: both; }
  header a {
    color: #5d858f;
    display: block;
    padding: 15px 10px; }
    header a:hover {
      color: #f47c76; }
  header ul li {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    float: left;
    margin: 0 0 0 10px;
    position: relative; }
    header ul li .secondary-navigation {
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      display: none;
      left: 10px;
      position: absolute;
      top: 40px;
      width: 280px; }
      header ul li .secondary-navigation li {
        border-bottom: 1px solid #ededed;
        float: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4em;
        letter-spacing: 0;
        margin: 0;
        text-transform: none; }
        header ul li .secondary-navigation li:last-of-type {
          border-bottom: none; }
      header ul li .secondary-navigation a {
        display: block;
        padding: 10px 20px; }
      header ul li .secondary-navigation em {
        -webkit-font-smoothing: subpixel-antialiased;
        color: #79898d;
        display: block;
        font-size: 14px;
        font-style: normal;
        font-weight: 500; }
      header ul li .secondary-navigation img {
        background: #f26a63;
        border-radius: 100%;
        padding: 10px;
        float: left;
        margin: 0 10px 0 0; }
      header ul li .secondary-navigation:after {
        display: block;
        position: absolute;
        top: -8px;
        left: 20px;
        content: "";
        background: url(../../img/triangle-tip-top.png) no-repeat;
        width: 15px;
        height: 12px; }
    header ul li:hover a {
      color: #f47c76; }
    header ul li:hover li a {
      color: #395258; }
      header ul li:hover li a:hover {
        color: #f47c76; }
    header ul li:hover .secondary-navigation {
      display: block; }
  header ul.featured-navigation {
    float: right; }
  header .main-cta {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    background: #f26a63;
    border: 1px solid #c11810;
    border-bottom: 1px solid #b3160e;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px 15px;
    margin: 0 10px 0 0; }
  header .jump-navigation {
    display: none; }
  @media screen and (max-width: 685px) {
    header {
      padding-bottom: 25px; }
      header .logo {
        float: left;
        margin-bottom: 0; }
      header .main-navigation li {
        display: none; }
        header .main-navigation li.jump-navigation {
          display: block; } }
  @media screen and (max-width: 850px), (max-width: 590px) {
    header {
      padding-bottom: 20px; }
      header .logo {
        float: none;
        margin-bottom: 10px; }
      header .main-navigation {
        margin-left: -20px; } }
  @media screen and (max-width: 430px) {
    header {
      padding: 10px 0; }
      header .logo {
        margin: 20px 0 15px 0; }
      header .main-navigation {
        float: none;
        margin-right: -10px; }
      header .featured-navigation li {
        margin-right: -10px; }
      header .main-cta {
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: #f47c76;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        padding: inherit;
        padding: 15px 10px; } }

body {
  box-sizing: border-box;
  color: #79898d;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; }

a {
  text-decoration: none; }

p {
  font-family: Bitter, Georgia, serif;
  font-size: 16px;
  line-height: 1.75em; }

.container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  padding: 50px 0; }
