/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Text colors */
/* Border colors */
/* Background colors */
.logo {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
  background: url(../../img/logo-piqora.png);
  width: 110px;
  height: 44px;
  float: left;
  margin-right: 10px; }

header {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  border-bottom: 1px solid #d8d9d9;
  padding: 30px 0; }
  header:before, header:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  header:after {
    clear: both; }
  header a {
    color: #5d858f;
    display: block;
    padding: 15px 10px; }
    header a:hover {
      color: #f47c76; }
  header ul li {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    float: left;
    margin: 0 0 0 10px;
    position: relative; }
    header ul li .secondary-navigation {
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      display: none;
      left: 10px;
      position: absolute;
      top: 40px;
      width: 280px; }
      header ul li .secondary-navigation li {
        border-bottom: 1px solid #ededed;
        float: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4em;
        letter-spacing: 0;
        margin: 0;
        text-transform: none; }
        header ul li .secondary-navigation li:last-of-type {
          border-bottom: none; }
      header ul li .secondary-navigation a {
        display: block;
        padding: 10px 20px; }
      header ul li .secondary-navigation em {
        -webkit-font-smoothing: subpixel-antialiased;
        color: #79898d;
        display: block;
        font-size: 14px;
        font-style: normal;
        font-weight: 500; }
      header ul li .secondary-navigation img {
        background: #f26a63;
        border-radius: 100%;
        padding: 10px;
        float: left;
        margin: 0 10px 0 0; }
      header ul li .secondary-navigation:after {
        display: block;
        position: absolute;
        top: -8px;
        left: 20px;
        content: "";
        background: url(../../img/triangle-tip-top.png) no-repeat;
        width: 15px;
        height: 12px; }
    header ul li:hover a {
      color: #f47c76; }
    header ul li:hover li a {
      color: #395258; }
      header ul li:hover li a:hover {
        color: #f47c76; }
    header ul li:hover .secondary-navigation {
      display: block; }
  header ul.featured-navigation {
    float: right; }
  header .main-cta {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    background: #f26a63;
    border: 1px solid #c11810;
    border-bottom: 1px solid #b3160e;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px 15px;
    margin: 0 10px 0 0; }
  header .jump-navigation {
    display: none; }
  @media screen and (max-width: 685px) {
    header {
      padding-bottom: 25px; }
      header .logo {
        float: left;
        margin-bottom: 0; }
      header .main-navigation li {
        display: none; }
        header .main-navigation li.jump-navigation {
          display: block; } }
  @media screen and (max-width: 850px), (max-width: 590px) {
    header {
      padding-bottom: 20px; }
      header .logo {
        float: none;
        margin-bottom: 10px; }
      header .main-navigation {
        margin-left: -20px; } }
  @media screen and (max-width: 430px) {
    header {
      padding: 10px 0; }
      header .logo {
        margin: 20px 0 15px 0; }
      header .main-navigation {
        float: none;
        margin-right: -10px; }
      header .featured-navigation li {
        margin-right: -10px; }
      header .main-cta {
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        color: #f47c76;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        padding: inherit;
        padding: 15px 10px; } }

body {
  box-sizing: border-box;
  color: #79898d;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; }

a {
  text-decoration: none; }

p {
  font-family: Bitter, Georgia, serif;
  font-size: 16px;
  line-height: 1.75em; }

.container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  padding: 50px 0; }

.homepage-banner {
  padding: 0 5%;
  background: url(../../img/banner-bg-home.png) no-repeat right bottom;
  background-size: 100%;
  border-bottom: 1px solid #d8d9d9; }
  @media screen and (min-width: 990px) {
    .homepage-banner {
      background-size: auto; } }
  @media screen and (max-width: 650px) {
    .homepage-banner {
      background-size: auto 50%; } }

.banner-content {
  width: 41.41414141%;
  /* 410/990 */ }
  .banner-content h2 {
    -webkit-font-smoothing: antialiased;
    color: #395258;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.15em;
    letter-spacing: -1px;
    margin-bottom: 30px; }
  .banner-content p {
    font-size: 18px; }
  @media screen and (max-width: 910px) {
    .banner-content {
      width: 60%; }
      .banner-content p {
        width: 80%; } }
  @media screen and (max-width: 800px) {
    .banner-content {
      width: 100%; }
      .banner-content p {
        width: 50%; } }
  @media screen and (max-width: 685px) {
    .banner-content p {
      width: 60%; } }
  @media screen and (max-width: 650px) {
    .banner-content p {
      width: 100%; } }

.banner-cta {
  padding: 50px 0 10px 0; }
  .banner-cta:before, .banner-cta:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .banner-cta:after {
    clear: both; }
  .banner-cta li {
    float: left;
    margin-right: 3.03030303%;
    /* 30/990 */
    width: 31.31313131%;
    /* 310/990 */ }
  .banner-cta li:first-of-type a {
    z-index: 1; }
  .banner-cta li:last-of-type {
    margin-right: 0; }
  .banner-cta a {
    background-color: rgba(204, 230, 240, 0.7);
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 240, 246, 0.7)), to(rgba(204, 230, 240, 0.7)));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
    /* IE10 */
    background-image: -o-linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
    /* Opera 11.10+ */
    background-image: linear-gradient(top, rgba(224, 240, 246, 0.7), rgba(204, 230, 240, 0.7));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='rgba(224, 240, 246, 0.7)', EndColorStr='rgba(204, 230, 240, 0.7)');
    border: 1px solid #a3c1cd;
    border-bottom: 1px solid #82abbb;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 4px rgba(0, 0, 0, 0.15);
    color: #5d858f;
    line-height: 1.5em;
    padding: 0 15px 0 0;
    position: relative;
    display: block;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
    .banner-cta a:before, .banner-cta a:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .banner-cta a:after {
      clear: both; }
    .banner-cta a br {
      display: none; }
    .banner-cta a:hover {
      background-color: #d0e8f1;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e0f0f6), to(#d0e8f1));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #e0f0f6, #d0e8f1);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #e0f0f6, #d0e8f1);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #e0f0f6, #d0e8f1);
      /* IE10 */
      background-image: -o-linear-gradient(top, #e0f0f6, #d0e8f1);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, #e0f0f6, #d0e8f1);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e0f0f6', EndColorStr='#d0e8f1');
      color: #ef463d; }
  .banner-cta strong {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    display: block;
    padding-top: 11px; }
  .banner-cta em {
    font-family: Bitter, Georgia, serif;
    font-size: 16px;
    line-height: 1.75em; }
  .banner-cta img {
    float: left;
    padding: 17px 15px; }
  @media screen and (max-width: 930px) and (min-width: 650px) {
    .banner-cta img {
      padding: 25px 15px 30px 15px; }
    .banner-cta a br {
      display: block; } }
  @media screen and (max-width: 800px) and (min-width: 650px) {
    .banner-cta li {
      margin-right: 0;
      width: 33.33333333%;
      /* 240/720 */ }
    .banner-cta li a {
      border-radius: 0; }
    .banner-cta li:first-of-type a {
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .banner-cta li:last-of-type a {
      border-left: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; } }
  @media screen and (max-width: 650px) {
    .banner-cta li {
      float: none;
      margin: 0 0 15px 0;
      width: 50%; }
      .banner-cta li strong {
        display: inline-block;
        margin-top: 5px; }
      .banner-cta li em {
        display: none; }
      .banner-cta li img {
        padding: 10px;
        width: 12%; } }
  @media screen and (max-width: 525px) {
    .banner-cta li {
      width: 70%; }
      .banner-cta li strong {
        margin-top: 0; } }
