@mixin outerContainer {
    padding: 0 5%;
}

@mixin contentContainer {
    margin: 0 auto;
    max-width: 990px;
    width: 100%;
}

@mixin clear() {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin linearGradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin mainCta {
    @include calloutText;
    background: $colorAccent;
    border: 1px solid darken($colorAccent, 30%);
    border-bottom: 1px solid darken($colorAccent, 33%);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    color: #fff;
    padding: 10px 15px;
}

@mixin mainCtaUndo {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: $colorAccent;
    font: {
        size: inherit;
        weight: inherit;
    }
    letter-spacing: inherit;
    padding: inherit;
}

@mixin secondaryCta {
    @include linearGradient(adjust_color($color: $colorContentHighlight, $lightness: 5%, $alpha: -0.3),adjust_color($color: $colorContentHighlight, $alpha: -0.3));
    border: 1px solid adjust_color($color: $colorContentHighlight, $saturation: -25%, $lightness: -15%);
    border-bottom: 1px solid adjust_color($color: $colorContentHighlight, $saturation: -25%, $lightness: -25%);
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 1px 4px rgba(0,0,0,.15);
    color: $colorBodyAlt;
    line-height: 1.5em;
    padding: 0 15px 0 0;
    position: relative;
    display: block;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

@mixin networkIcon ($padding) {
    background: $colorAccent;
    border-radius: 100%;
    padding: ($padding);
}

@mixin textOffscreen($background, $width, $height) {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    font-size: 0;
    text-align: start;
    background: $background;
    width: $width;
    height: $height;
}

@mixin bodyText {    
    font-family: $fontSerif;
    font-size: 16px;
    line-height: 1.75em;
}

@mixin calloutText {
    font: {
        size: 16px;
        weight: 700;
    }
    letter-spacing: 0;
    text-transform: uppercase;
}

@mixin subTitleStyle {
    -webkit-font-smoothing: antialiased;
    font: {
        size: 12px;
        weight: 900;
    }
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin sectionHeadline($color) {
    -webkit-font-smoothing: antialiased;
    color: $color;
    font: {
        size: 42px;
        weight: 700;
    }
    line-height: 1.15em;
    letter-spacing: -1px;
    margin-bottom: $verticalSpacingMedium;
}

@mixin sectionSubHeadline($color) {
    -webkit-font-smoothing: antialiased;
    color: $color;
    font: {
        size: 32px;
        weight: 700;
    }
    line-height: 1.3em;
    letter-spacing: -1px;
    margin-bottom: $verticalSpacingMedium;
}