@import "reset.scss";
@import "variables";
@import "mixins";

@import "header";

body {
	box-sizing: border-box;
    color: $colorBody;
    font-family: $fontSans;
    font-size: 100%;
    padding: 0 8%;
}

a {
	text-decoration: none;
}