/* Text colors */
$colorBody: #79898d;
$colorBodyDark: #395258;
$colorLinks: #5d858f;
$colorAccent: #F26961;

/* Border colors */
$colorBorders: #d8d9d9;

/* Background colors */
$colorContentHighlight: #cce6f0;
$colorContentAlternate: #f2f1f0;

$fontSans: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSerif: Bitter, Georgia, serif;

$verticalSpacingLarge: 50px;
$verticalSpacingMedium: 30px;