body {
    color: $colorBody;
    font-family: $fontSans;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

a {
	text-decoration: none;
    color: $colorAccent;
    
    &:hover {
        color: $colorBodyDark;
    }
}

h2 {
    @include sectionHeadline($colorBodyAlt);
    line-height: 1.2857142857em;
}

h3 {
    @include sectionSubHeadline($colorBodyDark);
}

h4 {
    color: $colorBodyAlt;
    font: {
        family: $fontSerif;
        size: 20px;
    }
    line-height: 1.75em;
}

h5 {
    @include calloutText($colorBodyDark);
    line-height: 1.5em;
    margin-bottom: 15px;
}

p {
    @include bodyText;
}

.container {
    @include contentContainer;
    padding: $verticalSpacingLarge 0;
}

.clear {
    @include clear;
}